<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<% if !!@cart %>
	<%= render partial: "cart", locals:{cart: @cart} %>
<% elsif !!@order %>
	<%= render partial: "cart", locals:{cart: @order} %>
<% end %>

<% if !!current_cart %>

	<%= button_to 'Checkout', checkout_path if @cart.status != "submitted" %>

<% end %>
