<h2><%= link_to "Categories:", categories_path %> </h2>
<%= render partial: "categories/index", locals: {categories: @categories} %>

<h2>Available Items:</h2>
<%= render partial: "items/item", collection: @items, as: :item %>